
.layoout{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left:0.5em;
    padding-right:0.5em;
}


.header{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header11{
   color:#ac25af;
   font-size:30px;
   margin-top:0px;
    
}

.header22{
    font-size:40px;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    column-gap:40px;
    font-family: poppins;
}
.sublogo{
    color: white;
}

.card1, .card2, .card3{
    background-color: rgba(253, 253, 253, 0.062);
    width:200px;
    padding: 20px;
    border-radius:18px;
        box-shadow: 3px 3px 8px #ad25af;
      
}

.infodetail{
    display: flex;
    justify-content: center;
    margin-top:50px;
    
}

.detail{
    width:900px;
    font-family: poppins;
    justify-content: center;
    text-align: center;
    
}
.exp{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.exptag{
    font-size:20px;
    font-weight:100;
}
.sata{
    font-size:40px;
    font-weight: 400;
}

.ecard{
    display: flex;
    flex-wrap: wrap;
    column-gap:50px;
}

.rdna{
    display: flex;
    align-items: center;
    font-family: poppins;
    column-gap: 8px;
}
.check
{
    color: white;
}


/*responsive design*/

@media ( max-width:2560px){

}

@media ( max-width:1440px){

}

@media ( max-width:1024px){

}

@media ( max-width:768px){
    .cards{
        row-gap:40px;
    }
    .ecard{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .detail{
        width:700px;
        font-weight: 300;
    }
    .rdna{
        justify-content: center;
    }

}

@media ( max-width:425px){
    .header11{
        font-size:20px;
        font-weight: 400;
    }
    .header22{
        font-size:20px;
        font-weight: 500;
    }
    .card1,.card2,.card3{
        width:180px;
        height:170px;
        box-shadow: 1px 1px 3px #ad25af;
        font-size:15px;

    }
    .cards{
        row-gap:20px;
        padding-top: 20px;

    }
    .detail{
        font-size: 12px;
        width:400px;
        height:fit-content;
    }

    .exptag{
        font-size: 15px;
        font-weight: 200;
    }
    .sata{
        font-size:30px;
    }
    .dev{
        font-size: 25px;
        font-weight:400;
    }
    .ecard{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .rdna{
        justify-content: center;
            font-weight: 200;
       
    }

}

@media ( max-width:375px){
    .card1,.card2,.card3{
        width:190px;
        height:120px;
        box-shadow: 1px 1px 3px #ad25af;
        font-size:12px;

    }
    
    .detail{
        font-size: 8px;
        width:400px;
        height:fit-content;
        font-weight: 300;

    }

    .exptag{
        font-size: 15px;
    }
    .sata{
        font-size:25px ;
        font-weight: 200;
    }
    .dev{
        font-size:20px;
        font-weight: 200;
    }
    .ecard.h1{
        font-size:10px;
    }
    .rdna{
        font-weight: 200;
    }


}

@media ( max-width:320px){

    .sata,.exptag{
        font-size: 15px;
    }

    .exptag .h3{
        font-weight: 200;
    }

    .rdna{
        font-weight: 200;
    }

}