
.layout{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left:0.5em;
    padding-right:0.5em;
}

body{
    color: white;
}

.watermark{
    display: flex;
    flex-direction: row;
   
      

}
.watermarkq{
    width: 60%;
}




.para{
    width:750px;
    justify-self:start;
    font-family: poppins;
    font-weight: 300;
}

.whatmark{
    font-size: 400px;
    font-weight: 700;
    width:60%;

    
    

}

.watermarks{
    font-size: 500px;
    position:absolute;
    left:-260px;
    top:2200px;
    z-index:-1;
    font-weight: 500;
    margin:0px;
    padding: 0px;
    color:rgb(0, 0, 0);
    -webkit-text-stroke: 2px rgba(189, 189, 189, 0.219);
    letter-spacing:20px;
}


.titlez{
    display: flex;
    flex-direction: column;
    width:60%;

    top:-350px;
    

}

.titleheader{
    font-size:50px;
    margin:0px;
    align-items: center;
}




.what{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    column-gap:50px;
    justify-content: center;
    margin-top: 120px;
    align-items: center;
}

.sidebeta{
    display: flex;
    flex-direction: row;
    font-family: poppins;
    column-gap:15px;
    margin: 20px;
    width: 100%;
    align-items: center;

}
.small{
    font-weight: 300;

}




.whatlayout2{
    display: flex;
    flex-direction:column;

}



/*responive design*/

@media (max-width:2560px) {
    
}

@media (max-width:1440px) {
    .para{
        width:600px;
        justify-self:start;
        font-family: poppins;
        font-weight:250;
    }
    .watermarks{

        font-size: 400px;
        position:absolute;
        left:-300px;
        top:2100px;
        z-index:-1;
        font-weight: 500;
        margin:0px;
        padding: 0px;
        color:rgb(0, 0, 0);
        -webkit-text-stroke: 2px rgba(189, 189, 189, 0.219);
        letter-spacing:20px;
    }
    
}

@media (max-width:1024px) {
    .para{
        width:600px;
        justify-self:start;
        font-family: poppins;
        font-size: 12px;
        font-weight: 300;
    }
    .watermarks{

        font-size: 400px;
        position:absolute;
        left:-600px;
        top:1800px;
        z-index:-1;
        font-weight: 500;
        margin:0px;
        padding: 0px;
        color:rgb(0, 0, 0);
        -webkit-text-stroke: 2px rgba(189, 189, 189, 0.219);
        letter-spacing:20px;
    }
    
    
}

@media (max-width:768px) {
    .para{
        width:450px;
        justify-self:start;
        font-family: poppins;
        font-size: 12px;
        font-weight: 200;
    }
    .titleheader{
        font-size: 30px;
    }
    .watermarks{
    font-size: 200px;


    }
    .titlez{
       display: flex;
       flex-direction:column;
       width:400px;
    }
    .layout{
        padding-left:0px;
    }
    .watermarks{

        font-size: 300px;
        position:absolute;
        left:-400px;
        top:2250px;
        z-index:-1;
        font-weight: 500;
        margin:0px;
        padding: 0px;
        color:rgb(0, 0, 0);
        -webkit-text-stroke: 2px rgba(189, 189, 189, 0.219);
        letter-spacing:20px;
    }
    
    
}

@media (max-width:425px) {
    .titlez{
        display: flex;
        flex-direction:column;
        width:420px;

     }
     .para{
        width:400px;
        font-size:12px;
     }
     .whatlayout2{
        width: 420px;
     }
     .sidebeta{
        font-size:15px;
        justify-content: center;
        margin:5px;
        font-weight: 100;
     }
     .small{
        font-weight: 300;
     }

     .watermarks{

        font-size: 100px;
        position:absolute;
        left:-100px;
        top:2190px;
        z-index:-1;
        font-weight: 500;
        margin:0px;
        padding: 0px;
        color:rgb(0, 0, 0);
        -webkit-text-stroke: 2px rgba(189, 189, 189, 0.219);
        letter-spacing:20px;
    }
    
    
}

@media (max-width:375px) {
    .titlez{
        display: flex;
        flex-direction:column;
        width:350px;

     }
     .para{
        width:370px;
        font-size:10px;
     }
     .watermarks{

        font-size: 100px;
        position:absolute;
        left:-100px;
        top:1900px;
        z-index:-1;
        font-weight: 500;
        margin:0px;
        padding: 0px;
        color:rgb(0, 0, 0);
        -webkit-text-stroke: 2px rgba(189, 189, 189, 0.219);
        letter-spacing:20px;
    }
    
    
    
}

@media (max-width:320px) {

    .titlez{
        display: flex;
        flex-direction:column;
        width:300px;


     }
     .what{
        margin-top: 20px;
     }

     .para{
        width:280px;
        font-size:12px;
     }
     .watermarks{
        font-size: 200px;
        width: 290px;
        
     }
     .titlez{
        position: relative;
        right:-20px;
        top:20px;
     }
     
.layout{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left:0.2em;
    padding-right:0.2em;
}
.watermarks{

    font-size:100px;
    position:absolute;
    left:-50px;
    top:1800px;
    z-index:-1;
    font-weight: 500;
    margin:0px;
    padding: 0px;
    color:rgb(0, 0, 0);
    -webkit-text-stroke: 2px rgba(189, 189, 189, 0.219);
    letter-spacing:20px;
}
    
}